<p>Hello <%= @user.email %>,</p>

<p>This is a reminder that your task titled "<%= @task.title %>" is due on <%= @task.deadline %>.</p>

<p>Please ensure it is completed on time.</p>

<p>Thank you!</p>
